// CSS Reset
global-reset()

webfont('BR', 'BR', true, 'normal')
webfont('BM', 'BM', true, 'normal')
webfont('BB', 'BB', true, 'normal')
webfont('DDNS', 'DDNS', true, 'normal')

body,html
	width 100%
	height 100%
	-webkit-text-size-adjust 100%

html
	background-color $grey
	font-size 62.5%

body
	background-color $primary
	text-rendering optimizeLegibility
	font-smoothing()
	font-family 'BR', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
	font-size 1.9em
	line-height 1.4em
	color $blue
	+below($tablet)
		font-size 1.4em

section
	span(1)

figure img
	display block

.row
	span(1)
	padding-left $padding
	padding-right $padding
	+below($tablet)
		padding-left 2rem
		padding-right 2rem
	
.row.narrow
	padding-left ($padding*2)
	padding-right ($padding*2)
	+below($tablet)
		padding-left 5rem
		padding-right 5rem

.hero
	span(1)
	min-height 40rem
	overflow hidden
	background-size cover
	background-position center
	+below($tablet)
		min-height 15rem
	.overlay
		width 100%
		height 100%
		position absolute
		top 0
		left 0
		z-index 100
		box-shadow(0 0 15rem 2rem rgba(0,0,0,.8) inset)
		transition(box-shadow,600ms)
	.text
		col(1/2)
		+below($tablet)
			stack()
			height 100%
			background rgba(255,255,255,0.5)

.hero:hover
	.overlay
		box-shadow(0 0 10rem 2rem rgba(0,0,0,.3) inset)
			

.hero.medium
	min-height 50rem
	+below($tablet)
		min-height 25rem

.hero.large
	min-height 60rem
	+below($tablet)
		min-height 30rem

.ph
	padding-top ($padding*1.5)
	+below($tablet)
		padding-top 5rem
	//padding-bottom ($padding*1.5)

.phs
	padding-top ($padding)
	+below($tablet)
		padding-top 3.5rem
	//padding-bottom ($padding)

.ph:last-child
	padding-bottom ($padding*1.5)
	+below($tablet)
		padding-bottom 5rem

.phs:last-child
	padding-bottom $padding
	+below($tablet)
		padding-bottom 3.5rem

.brandlogo + .row
	padding-top 0

.title, nav.mobile-menu li
	font-family 'BM'
	font-size 1.4em
	margin 1em 0

.center
	text-align center !important

.js-words
	-webkit-perspective 0
	-webkit-backface-visibility hidden

h2
	text-transform uppercase
	font-family 'BM'
	margin 1rem 0
h3
	font-family 'BB'
	margin 1rem 0

h4
	font-family 'BM'
	font-size .8em
	margin 1rem 0

strong
	font-family 'BB'

figure
	margin 0
	img
		width 100%

.close
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	top: 30px;
	right: 30px;
	cursor pointer
  
.close:hover::before, .close:hover::after
	opacity 0.7
  
.close::before, .close::after
	content: '';
	position: absolute;
	height: 2px;
	margin-top: -1px;
	width: 100%;
	top: 50%;
	left: 0;
	background: $primary
  
.close::before
	transform(rotate(45deg))

.close::after
	transform(rotate(-45deg))


.secondary
	color $yellow

.num
	font-family 'DDNS'
	color $yellow
	font-size 6vw
	line-height 1em
	+below($tablet)
		font-size 3em

.quote
	blockquote
		font-size 1.3em
		font-family 'BM'
	.citation
		margin-top 1em

p
	margin-bottom 1em

::selection
	background lightgrey
	
::-moz-selection
	background lightgrey

*
	//hideselect()
	box-sizing()

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer
	font-family 'BB'

#pin-container
	margin-top 100vh
	width 100%
	height 100vh
	overflow hidden
	+below($tablet)
		margin-top 0
		height auto

.parallax-slide
	width 100%
	height 100vh
	+above($tablet)
		position absolute
	.content
		+above($tablet)
			box-shadow(0 0 10rem 2rem rgba(0,0,0,.5))
			height 100%
	.column
		span(1/2)
		height 100%
		flexbox()
		justify-content center
		align-items center
		flex-direction column
		+below($tablet)
			span(1)
			height 50vh
		.inner
			width 60%
		.separator
			display inline-block
			margin 2em 0
	.column:nth-child(1)
		.inner
			width 30%
			margin-right 50%
			+below($tablet)
				margin-right 30%
			h2
				margin-top 2em
	h2
		text-transform none
		font-size 2vw
		line-height 1.2em
		font-family 'BM'
		+below($tablet)
			font-size 1.3em

.parallax-slide:nth-of-type(even)
	.column:nth-child(1)
		background $blue
		color $primary
		h2
			font-family 'BB'
	.column:nth-child(2)
		background $grey

.parallax-slide:nth-of-type(odd)
	.column:nth-child(2)
		background $blue
		color $primary
		h2
			font-family 'BB'
	.column:nth-child(1)
		background $grey

.columns
	span(1)
	
.column
	col(1)
	
.columns-1 .column
	col(1)
	
.columns-2 .column
	col(1/2, gutter: 27, cycle:2)
	
.columns-3 .column
	col(1/3, cycle:3)
	
.columns-4 .column
	col(1/4, cycle:4)
	
.columns-5 .column
	col(1/5, cycle:5)

.column, .columns-1 .column, .columns-2 .column, .columns-3 .column, .columns-4 .column, .columns-5 .column
	+below($tablet)
		stack()

#wrapper
	span(1)
	background-color $primary
	z-index 0