.loader
	hideselect()
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary url('../../images/loader.gif') center no-repeat
	background-size 15px
	z-index 10000
	-webkit-perspective 0
	-webkit-backface-visibility hidden
	#preload-logo
		background url('../../images/sens_logo_animated.gif') no-repeat -9999px -9999px

.opening
	hideselect()
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary url('../../images/sens_intro.gif') center 35% no-repeat
	background-size 70%
	z-index 9000
	-webkit-perspective 0
	-webkit-backface-visibility hidden
	cursor pointer

header
	hideselect()
	padding 3em ($padding*3) 0
	+below($laptop)
		padding 3em $padding 0
	+below($tablet)
		padding 1em $padding
	h1
		opacity 0
	ul
		flexbox()
		align-items center
		list-style-type none
		li
			font-family 'BB'
			flex-grow 1
			text-align center
			width 17.5%
		li:nth-child(1), li:nth-child(2)
			text-align left
			+below($tablet)
				display none
		li:nth-child(4), li:nth-child(5)
			text-align right
			+below($tablet)
				display none
		li.menu-toggle
			display none
			cursor pointer
			text-transform uppercase
			text-align right
			+below($tablet)
				display block
		li.logo
			height 100px
			+above($tablet)
				width 30%
			+below($tablet)
				height 50px
				text-align left
			img
				width auto
				height 100%
				display inline-block

nav.mobile-menu
	display none
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	overflow hidden
	background $blue
	color $primary
	text-align center
	z-index 1000
	-webkit-transition -webkit-transform 350ms ease
	-moz-transition -moz-transform 350ms ease
	-o-transition -o-transform 350ms ease
	transition transform 350ms ease
	transform(translate3d(100%,0,10px))
	+below($tablet)
		display block
	ul
		flexbox()
		flex-direction column
		align-items center
		justify-content center
		width 100%
		height 100%
		li
			margin .3em 0
nav.mobile-menu.is-visible
	transform(translate3d(0%,0,10px))

.intro.title
	+below($tablet)
		text-align center

#top-title
	margin-bottom ($padding*1.5)
	+below($tablet)
		padding-top 2rem

footer
	background $blue
	color $primary
	display inline-block
	width 100%
	padding-bottom $padding
	+below($tablet)
		padding-left 2rem !important
		padding-right 2rem !important
	.column
		+above($mobile)
			col(1/3, gutter: 10, cycle:3)
		+below($mobile)
			stack()
			margin-bottom 1em
		h3
			margin-top 0
			margin-bottom 2em
			+below($mobile)
				margin-bottom 0
	.socials
		margin-bottom 4em
		+below($mobile)
			margin-bottom 2em
		li
			display inline-block
			margin-right 1em
		i
			font-size 25px
			+below($mobile)
				font-size 20px
			
	nav.languages
		ul
			li
				display inline-block
				margin-right .2em
			li:not(.active)
				a, a:hover, a:visited, a:focus
					font-family 'BR'